<?xml version="1.0"?>

<model>
  <name>launch pad</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Alexander Cardaras</name>
    <email>acardaras1@go.pasadena.edu</email>
  </author>

  <description>
    A model of a launch pad for drone.
    Swarmathon 2018 PCC.
  </description>

</model>
